body {
    background-color: #ffe5e5;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    color: #990000;
  }

  h2 {
    color: #cc0000;
  }

  input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #cc0000;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  button {
    padding: 10px 20px;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  button:hover {
    background-color: #990000;
  }

  #resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }