*{
    margin:0;
    padding:5px;
    background-color:rgb(211, 211, 211);
    font-family:"roboto", sans-serif;
    overflow:hidden;
}
body{
    display:flex;
}
article{
    width:30%;
    height:100vh;
}
.card{
    background-color:rgb(170, 170, 170);
    width:80%;
    height:auto;
    /* display: */
    margin:10px;
    padding:20px;
    border-radius: 20px;
    box-shadow:0px 2px 4px 0px rgb(121, 121, 121);
    transition:0.3s ease-in-out;
    font-weight:400;
}
.card:hover{
    scale:1.05;
    z-index:100;
}
main{
    width:70%;
    padding:10px;
}
h1{
    font-weight:500;
}
h2{
    font-weight:400;
}
main > div{
    opacity:0;
    transform:translateY(20px);
    transition:opacity 0.3s ease, transform 0.3s ease;
    display:none;
}
main > div.ativo{
    opacity:1;
    transform:translateY(0);
}