body{
    font-family:"roboto", sans-serif;
    background-color:rgb(211, 211, 211);
    text-align:center;
}
.label{
    margin-bottom:10px;
}
input{
    width:100px;
    padding:5px;
    border-radius:10px;
    border:none;
    box-shadow:0px 3px 4px 0px rgb(118, 118, 118);
}
button{
    padding:10px;
    font-size:20px;
    border-radius:10px;
    border-radius:10px;
    border:none;
    box-shadow:0px 4px 4px 0px rgb(118, 118, 118);
    transition:ease-in-out 0.3s;
    font-family:"roboto", sans-serif;
}
button:hover{
    scale:1.05;
}
#timer{
    font-family:"roboto", sans-serif;
    font-weight:300;
    margin-top:50px;
    font-size:200px;
}